body{
    margin: 0;
    padding: 0;
}
button{
    background: #ff0072;
    border: none;
    color: #fff;
    height: 46px;
    width: 143px;
   
    cursor: pointer;
    display: inline-block;
    position: relative;
    bottom: 15px;
    z-index: 1; 
    top: -70px;
    left: 400px;
    font-family: proxima, sans-serif;
}
.banner2{
    position: absolute;
}
#cubom{
    width: 100%;
}
@font-face{
   font-family:proxima;
   src:url(proximanova-bold.woff2) format("woff2");
   /*url(fonts/proximanova-bold.woff) format("woff");*/
   font-weight:700;
   font-style:normal;
   font-display:swap;
}
